BODY {
	font-family: "宋体"; 
	font-size: 12px;
	color: #003748;
	text-decoration: none;
	margin: 0px;

}
/*头部样式*/
body{ font-size:12px;color:06374a;}
#userinfo {
    font-size:12px;color:#003748;
}
#userinfo a:link{
    font-size:12px;
    color:#003748;
text-decoration: none;
}

#userinfo a:visited{
	font-size:12px;
	color:#003748;
	text-decoration: none;
}

#userinfo a:hover{
	font-size:12px;
	color:#003748;
	text-decoration: underline;
}

.opacity {
FILTER: alpha(opacity=100);
}

/*左边菜单样式*/
.header05 {
	background:url(../images/left_menu_bj.jpg) repeat-x;
	height:19px;
	text-align:left;
	font-size:12px;
	color:#06374a;
	padding-left:12px;
	padding-right:1px;
	padding-top:9px;
	font-weight: bold;
}
.header06{ background:url(../images/left_menu.jpg) no-repeat; height:28px; width:27px;
}

.left_menu_font{ font-size:12px; color:#002835; padding-left:50px; padding-top:3px;
}
.left_menu_border{
	width:201px;
	color:#f3f7f9;
	height:100%;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-left-color: #ffffff;
	background-color: #F3F7F9;
}
#left_menu { 
   width:201px; 
   padding:0px; 
   margin:0px 0px 0px 0px;
}
#left_menu .title_title{ 
   width:173px;height:27px;
   line-height:27px;
   padding:0px 0px 0px 34px;
   margin:0px 0px 0px 0px;
   font-size:9pt;
   background-image:url(../images/left_menu/alink_bj.jpg);
   color:#04212d;
}
.left_menu_title{
   background:url(../images/left_menu/alink_bj.jpg) repeat-x; 
   width:201px; height:24px; 
   color:#F3F7F9; 
   font-weight:bold;
   border-left:1px solid #fff;
}
.left_menu_title .span{ 
   padding:0px; margin:3px 6px 0px 30px; float:left;
}
.left_menu_title .span_left{ 
   padding:0px; margin:7px 8px 0px 0px; float:left;
}
#left_menu ul {
   padding:0px; margin:0px; list-style-type:none; padding-top:6px; padding-bottom:3px; background-color:#f3f7f9;
}
#left_menu li { 
   padding:0px;margin:0px;list-style-type:none;
}
#left_menu li a {
	width:159px;
	height:20px;
	margin:0px;
	list-style-type:none;
    background:url(../images/left_menu/title_title_bg.jpg) no-repeat 8px -7px; 
	font-size:9pt;
	text-decoration:none;
	color:#04212d;
	display:block;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 48px;
}
#left_menu li a:hover {
    list-style-type:none; font-size:9pt; text-decoration:none; color:#FF0000;
}

/*bar样式*/

.bar { background:url(../images/bar1.jpg) top left no-repeat; width:5px; margin-top:100px;}
.bar1 { background:url(../images/bar2.jpg) top left no-repeat; width:5px; margin-top:100px;}
.bar3 { background:url(../images/bar3.jpg) top center no-repeat; width:59px;}
.bar4 { background:url(../images/bar4.jpg) top center no-repeat; width:59px;}
.bar5 { background:url(../images/bar5.jpg) top left no-repeat; width:6px; margin-top:100px;}
.bar6 { background:url(../images/bar6.jpg) top left no-repeat; width:6px; margin-top:100px;}

/*bottom样式*/
.bottom {
font-size:12px;
color:#003748;
}

/*content_top样式*/
.content_top {
font-size:12px;
color:#c31c00;
padding-top:4px;
}

/*content_position样式*/
.position {
font-size:12px;
color:#06374a;
}

/*表头样式*/
.header1 {
background:url(../images/content_left_bj.jpg) no-repeat; height:22px; width:4px;
}
.header2{background:url(../images/content_bj.jpg) repeat-x; height:10px; text-align:center; font-size:12px; color:#06374a; padding-left:7px; padding-right:1px; padding-top:4px;
}
.header3 {
background:url(../images/content_right_bj.jpg) no-repeat; height:22px; width:24px;
}

/*表格样式*/
.borader {
border:#90b9c6 solid 1px;

}
.borader_box{width:100%; padding:8px 0 0 0; margin:0 auto;}
/*表格样式*/
.borader1 {
border:#90b9c6 solid 1px; border-top:none;}
/*表格样式*/
.borader2 {
border:#90b9c6 solid 1px; border-top:none; border-bottom:none;}

/*right_menu样式*/
.header4 { background:url(../images/right_menu_01.jpg) no-repeat; height:26px; width:24px;
}
.header5{ background:url(../images/right_menu_02.jpg) repeat-x; height:20px; text-align:left; font-size:12px; color:#002d3b; padding-left:4px; padding-right:2px; padding-top:2px;
}
.header6 { background:url(../images/right_menu_03.jpg) no-repeat; height:26px; width:3px;
}
/*right_menu字体样式*/
.right_menu_td {
	font-size:12px;
	color:#06374a;
	padding-top:7px;
	padding-bottom:3px;
	line-height: 12px;
}
.right_menu_td a:link{
	font-size:12px;
	color:#06374a;
	padding-top:7px;
	padding-bottom:3px;
	line-height: 12px;
	text-decoration: none;

}
.right_menu_td a:visited{
	font-size:12px;
	color:#06374a;
	padding-top:7px;
	padding-bottom:3px;
	line-height: 12px;
    text-decoration: none;

}
.right_menu_td a:hover{
	font-size:12px;
	color:#c31c00;
	padding-top:7px;
	padding-bottom:3px;
	line-height: 12px;
	text-decoration: none;
}

.right_menu_line{
    border-bottom:#bebebe 1px dashed;
}

.category{
color:#002d3b;
padding-top:4px;
}



/*表单样式*/
.input1 { border:1px solid #90b9c6; height:18px; line-height:18px; width:90%; padding-left:3px; padding-right:3px;}
.input2 { border:1px solid #90b9c6; height:18px; line-height:18px; width:98%; padding-left:3px; padding-right:3px;}
.input8 { border:1px solid #90b9c6; height:18px; line-height:18px; width:80%; padding-left:3px; padding-right:3px;}

.submit_2 {
	background:url(../images/submit/submit1.jpg) top left no-repeat;
	width:74px;
	height:22px;
	border:0px none;
	background-color:transparent;
	color:#0f4859;
	font-size:14px;
	padding-top:3px;
	cursor:hand;
	font-weight: bold;
}
.submit_3 {
	background:url(../images/submit/submit2.jpg) top left no-repeat;
	width:90px;
	height:22px;
	border:0px none;
	background-color:transparent;
	color:#0f4859;
	font-size:14px;
	padding-top:3px;
	cursor:hand;
	font-weight: bold;
}

.borader3 {
border:#a1c8e4 solid 1px; background-color:#e6f1f6;}

.header7 { background:url(../images/left_menu_01.jpg) no-repeat; height:24px; width:20px;
}
.header8{ background:url(../images/left_menu_02.jpg) repeat-x; height:24px; text-align:left; font-size:12px; color:#002d3b; padding-left:7px; padding-right:2px; padding-top:1px;
}

.title_font{
	font-family: "宋体";
	font-size: 12px;
	color: #003748;
	text-decoration: none;
	margin: 0px;
	font-weight: bold;
	padding-top:2px;
}
.table_list1 { border:1px #90b9c6 solid;}
.table_list1 th { height:23px; background-color:#dff1ff border-bottom:none;}
.table_list1 td { height:22px; text-align:center; border-left:none;  border-top:1px solid #90b9c6;border-bottom:none; padding:3px 0;}
.table_list th { height:23px; background-color:#e0edf1 border-bottom:1px solid #e0edf1;}
.table_list td { height:22px; text-align:center; border-left:1px solid #ffffff;  border-top:1px solid #ffffff;border-bottom:1px solid #ffffff; padding-top:2px;}
.td_over { background-color:#cce3f4;}
.input_td_over { background-color:#ebf3f6; border:1px solid #7f9db9;}
.input_td_out { border:1px solid #000000; background:none;}
.input_td_out_1 { border:1px solid #000000; background:#ebf3f6}


.num_font a{
	font-family: "宋体";
	font-size: 12px;
	color: #003748;
	text-decoration: none;
	margin: 0px;
	padding-top:2px;
}
.num_font a:link{
	font-family: "宋体";
	font-size: 12px;
	color: #003748;
	text-decoration: none;
	margin: 0px;
	padding-top:2px;
}
.num_font a:hover{
	font-family: "宋体";
	font-size: 12px;
	color: #ff0000;
	text-decoration: none;
	margin: 0px;
	padding-top:2px;
}

.SmallButton {
	background-image: url(../images/bt00.gif);
	height: 17px;
	width: 49px;
	border: none;
	font-family: "宋体";
	font-size: 12px;
	padding-top: 4px;
	cursor:hand;
	text-indent: 7px;
}

.ok { border:0px solid #90b9c6; width:60%; height:166px; margin-top:10%; margin-left:20%;}
.ok span { font-size:18px; font-weight:bold; color:#177B2F;}

.table_lineheight td { height:28px;}

.submit_2_ro { background:url(../images/submit/submit1_2.jpg) top left no-repeat; width:74px; height:22px; border:0px none; background-color:transparent; color:#808080; font-size:14px; font-weight:bold;  cursor:hand;}


#page_height { margin:0;width:100%; text-align:center; padding:0 10px;}

.select1 { width:93%;}
.select2 { width:150px;}
.select8 { width:81%;}

.margin10 { margin-top:10px;}
.t_font14 td { font-size:14px; font-weight:bold; margin:0;}
.fyclass{ background:url(../images/fybj.jpg) repeat-x;height:26px;border-left:solid #90b9c6 1px;;border-right:solid #90b9c6 1px;;border-bottom:solid #90b9c6 1px;}

.sign{FONT-FAMILY: webdings; FONT-SIZE: 14px;color:#505050}
.sign2{FONT-FAMILY: webdings; FONT-SIZE: 14px;color:#999999}
.page1_box{width:420px; float:right}
.page1{float:left; width:380px; padding:0 0 10px 0; margin:0;}
.page1_img{float:left; padding:0; margin:0;}

/*content_top样*/
.system_font{
	font-size:14px;
	font-weight: bold;
	color:#06374a;
	line-height: 22px;
	text-align:left;
	padding:22px 0 0 0;
}
.system_font1{
	font-size:14px;
	font-weight: bold;
	color:#06374a;
	line-height: 40px;
	text-align:left;
	padding:15px 0 0 0;
}
.tips{float:left;margin:0; padding:20px 0 0 185px;}
.tips1{float:left;margin:0; width:40px; padding:20px 0 0 185px;}